<!DOCTYPE html>
<html lang="en">
<head>
    <include href="views/includes/head_links.html" />

    <title>Order Now!</title>
</head>
<body>
    <include href="views/includes/mainNavBar.html"/>

    <form action="#" method="post" class="form-horizontal">
        <div class="row h-100">
            <div class="col-10">
                <h1>Who is ordering this pretzel?</h1>

                <!--First Name-->
                <label>First Name *</label>
                <div class="col">
                    <input class="form-control" type="text" name="firstName" id="firstName" value="{{ @userFName }}">
                </div>
                <check if="{{ isset(@errors['userFName']) }}">
                    <span>Invalid First Name, must be 2 or more letters</span>
                </check>

                <!--Last Name-->
                <label>Last Name *</label>
                <div class="col">
                    <input class="form-control" type="text" name="lastName" id="lastName" value="{{ @userLName }}">
                </div>
                <check if="{{ isset(@errors['userLName']) }}">
                    <span>Invalid Last Name, must be 2 or more letters</span>
                </check>

                <!--Phone #-->
                <label>Phone # *</label>
                <div class="col">
                    <input class="form-control" type="number" name="phone" id="phone" value="{{ @userPhone }}">
                </div>
                <check if="{{ isset(@errors['userPhone']) }}">
                    <span>Invalid Phone Number, must be 10 numbers in the manner "**********" (sorry other phone numbers)</span>
                </check>

                <!--Address #-->
                <label>Address #</label>
                <div class="col">
                    <input class="form-control" type="number" name="address" id="address" value="{{ @userAddress }}">
                </div>
                <label for="address">Just the ##### part</label>

                <!--Street-->
                <label>Street</label>
                <div class="col">
                    <input class="form-control" type="text" name="street" id="street" value="{{ @userStreet }}">
                </div>

                <!--City/County-->
                <label>City / County</label>
                <div class="col">
                    <input class="form-control" type="text" name="cityCounty" id="cityCounty" value="{{ @userCityCounty }}">
                </div>

                <!--State-->
                <label>State</label>
                <div class="col">
                    <select id="state" class="form-control" name="state">
                        <repeat group="{{ @states }}" value="{{ @state }}">
                            <option value="{{ @state }}"
                            <check if="{{ $state == @userState }}">selected</check>>
                                    {{ ucfirst(@state) }}
                            </option>
                        </repeat>
                    </select>
                </div>
            </div>
        </div>

        <div class="btn btn-primary">
            <input class="form-control btn btn-default"
                   type="submit" value="Next">
        </div>
    </form>

    <include href="views/includes/footer.html"/>
</body>
</html>