<!DOCTYPE html>
<html lang="en">
<head>
    <include href="views/includes/head_links.html" />

    <title>Pretzels of Power!</title>
</head>
<body>
<include href="views/includes/mainNavBar.html"/>
    <div class="vh-90" id="mainPage">
        <div class="" id="squishPage">
            <h1 ><strong>P</strong>ower <strong>P</strong>retzels!</h1>
            <p>Making beloved pretzels since a few days ago!</p>
            <div class="image-container">
                <img src="images/introPretzel.jpg" id="introPretzel">
                <p class="position-absolute h1 text-light bg-darker-rounded">The best pretzels you have ever tasted!</p>
            </div>
            <h2>Quotes from satisfied customers:</h2>

            <div class="container" id="quotes">
                <ul>
                    <li>*Tumbleweed*</li>
                </ul>
            </div>
            <br>
            <a type="button" class="btn btn-primary zoom font-x-large" href="order" id="startOrder">Order Pretzels Now!</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<include href="views/includes/footer.html"/>
</body>


</html>