<!doctype html>
<html lang="en">
<head>
    <include href="views/includes/head_links.html" />

    <title>Order Summary</title>
</head>
<body>
    <include href="views/includes/mainNavBar.html"/>

    <h1>Order Summary</h1>
    <div class="container vh-83" id="orderSumm">
        <!--
            Pretzel Type
            is it Whole Wheat?
            Toppings
            Stuffing
            Pretzel Bites
        -->

        <h2>Order To: {{ @SESSION.customer->getFName() }} {{ @SESSION.customer->getLName() }}</h2>
        <h3>( {{ @SESSION.customer->getAddressNum() }}, {{ @SESSION.customer->getStreet() }} )
            {{ @SESSION.customer->getCityCounty() }} {{ @SESSION.customer->getState() }}
            phone: {{ @SESSION.customer->getPhone() }}</h3>

        <h3 id="summPretzType">Pretzel Type:
            <check if="{{ !@SESSION.pretzel instanceof StuffedPretzel && !@SESSION.pretzel instanceof PretzelBites }}">
                Regular Pretzel
            </check>
            <check if="{{ @SESSION.pretzel instanceof StuffedPretzel }}">
                Stuffed Pretzel
            </check>
            <check if="{{ @SESSION.pretzel instanceof PretzelBites }}">
                Pretzel Bites
            </check>
        </h3>
        <h3 id="summWholWheat">Whole Wheat: {{ @SESSION.pretzel->getWholeWheat() }}</h3>
        <h3>Toppings: {{ implode(", ", @SESSION.pretzel->getToppings()) }}</h3>
        <p id="summToppings"></p>

        <check if="{{ @SESSION.pretzel instanceof StuffedPretzel }}">
            <h3 id="summStuffing">Stuffing: {{ @SESSION.pretzel->getStuffing() }}</h3>
        </check>

        <check if="{{ @SESSION.pretzel instanceof PretzelBites }}">
            <h3 id="summSauce">Dipping Sauce: {{ @SESSION.pretzel->getSauce() }}</h3>
            <h3 id="summBitesAmnt">Amount of Bites: {{ @SESSION.pretzel->getAmount() }}</h3>
        </check>

        <h1>Your order number is: {{ @pretzID }}</h1>
        <h1>Pretzel Saved as: {{ @test }}</h1>
        <h2 id="TotalPrice">Price: {{ @pretzCost }}</h2>
    </div>


    <include href="views/includes/footer.html"/>
</body>

</html>