<!DOCTYPE html>
<html lang="en">
<head>
    <include href="views/includes/head_links.html" />

    <title>Order Now!</title>
</head>
<body>
    <include href="views/includes/mainNavBar.html"/>

    <form action="#" method="post" class="form-horizontal">
        <!-- This div contains entire form information and is a row for the order div (left) and summary div (right) -->
        <div class="row h-100">
            <!-- This is order div (left) -->
            <div class="col-10">
                <h1>Construct Your Pretzel</h1>
                <!--Type of Pretzel-->
                <div class="container row form-group" id="pretzelType">
                    <h2>Pretzel Type *</h2>
                    <!--Select a Pretzel-->
                    <repeat group="{{ @types }}" value="{{ @type }}">
                        <label class="col"><input onclick="showContent(this)" type="radio" name="pretzType"
                        id="{{ @type }} " value="{{ @type }}"
                            <check if="{{ $type == @userType }}">checked="checked"</check>>
                            {{ ucfirst(@type) }}
                        </input></label><br>
                    </repeat>
                    <!--<label class="col"><input type="radio" name="pretzType" id="regular" value="Regular"> Regular</label>
                    <label class="col"><input type="radio" name="pretzType" id="stuffed" value="Stuffed"> Stuffed</label>
                    <label class="col"><input type="radio" name="pretzType" id="bitesize" value="Bitesize"> Bitesize</label>-->
                </div>
                <check if="{{ isset(@errors['pretzType']) }}">
                    <span class="err">{{ @errors['pretzType'] }}</span>
                </check>

                <div>
                    <h1>Fields for all Pretzels</h1>
                    <!--Fields for all Pretzels-->
                    <div class="container row form-group" id="anyFields">
                        <h2>Whole Wheat</h2>
                        <!--Whole Wheat-->
                        <label><input type="checkbox" name="isWholeWheat" value="yesWholeWheat"
                            <check if="{{ @userWheat == 'Yes' }}">checked="checked"</check>> Whole Wheat</label>

                        <h2>Toppings</h2>
                        <!--Toppings-->
                        <repeat group="{{ @toppings }}" value="{{ @topping }}">
                            <label><input type="checkbox" name="toppings[]"
                            id="{{ @topping }}" value="{{ @topping }}"
                            <check if="{{ in_array(@topping, @userToppings) }}"> checked="checked" </check>>
                                {{ ucfirst(@topping) }}
                            </input></label>
                        </repeat>

                    </div>
                </div>

                <div id="stuffed_div">
                    <h1>Stuffed Pretzel Field</h1>
                    <!--Stuffed Pretzel Fields-->
                    <div class="container" id="stuffedFields">

                        <h2>Stuffing **</h2>
                        <!--Stuffing-->
                        <select id="stuffing" class="form-control" name="stuffing">
                            <repeat group="{{ @stuffings }}" value="{{ @stuffing }}">
                                <option value="{{ @stuffing }}"
                                <check if="{{ $stuffing == @userStuffing }}">selected</check>>{{ ucfirst(@stuffing) }}</option>
                            </repeat>
                            <!--<option value="cheese"> Cheese</option>
                            <option value="tuna"> Tuna</option>
                            <option value="bacon"> Bacon</option>-->
                        </select>
                        <check if="{{ isset(@errors['pretzStuffing']) }}">
                            <span class="err">{{ @errors['pretzStuffing'] }}</span>
                        </check>

                    </div>
                </div>

                <div id="bites_div">
                    <h1>Pretzel Bites Field</h1>
                    <!--Pretzel Bites Fields-->
                    <div class="container" id="bitesFields">

                        <h2>Dipping Sauce</h2>
                        <!--Dipping Sauce-->
                        <select id="dipping" class="form-control" name="sauce">
                            <repeat group="{{ @sauces }}" value="{{ @sauce }}">
                                <option value="{{ @sauce }}"
                                <check if="{{ $sauce == @userSauce }}">selected</check>>{{ ucfirst(@sauce) }}</option>
                            </repeat>
                            <!--<option value="cheese"> Cheese</option>
                            <option value="ketchup"> Ketchup</option>
                            <option value="bbq"> Barbecue Sauce</option>-->
                        </select>

                        <label for="amount"><h2>Amount # **</h2></label>
                        <input type="number" class="form-control" name="amount" id="amount" value="{{ @userAmnt }}">
                        <check if="{{ isset(@errors['pretzAmnt']) }}">
                            <span class="err">{{ @errors['pretzAmnt'] }}</span>
                        </check>
                    </div>
                </div>
            </div>

            <!-- This is summary div (right) -->
            <div class="col-2 bg-warning sticky-right p-0">
                <div id="orderSummary" class="h-75">

                </div>

                <!-- Submit order and price here -->
                <div class="h-25 border border-dark">
                    <div class="">
                        <h3>$13.25</h3>
                    </div>

                    <div class="btn btn-primary">
                        <input class="form-control btn btn-default"
                               type="submit" value="Next">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <include href="views/includes/footer.html"/>
</body>


</html>