<!doctype html>
<html lang="en">
<head>
    <include href="views/includes/head_links.html" />

    <title>Order Summary</title>
</head>
<body>
    <include href="views/includes/mainNavBar.html"/>

    <h1>Order Summary</h1>
    <div class="container" id="orderSumm">
        <!--
            Pretzel Type
            is it Whole Wheat?
            Toppings
            Stuffing
            Pretzel Bites
        -->
        <h3 id="summPretzType">Pretzel Type:
            <check if="{{ @SESSION.pretzel instanceof Pretzel }}">
                Pretzel
            </check>
            <check if="{{ @SESSION.pretzel instanceof StuffedPretzel }}">
                Stuffed Pretzel
            </check>
            <check if="{{ @SESSION.pretzel instanceof PretzelBites }}">
                Pretzel Bites
            </check>
        </h3>
        <h3 id="summWholWheat">Whole Wheat: {{ @SESSION.pretzel->getWholeWheat() }}</h3>
        <h3>Toppings: {{ implode(", ", @SESSION.pretzel->getToppings()) }}</h3>
        <p id="summToppings"></p>

        <check if="{{ @SESSION.pretzel instanceof StuffedPretzel }}">
            <h3 id="summStuffing">Stuffing: {{ @SESSION.pretzel->getStuffing() }}</h3>
        </check>

        <check if="{{ @SESSION.pretzel instanceof PretzelBites }}">
            <h3 id="summSauce">Dipping Sauce: {{ @SESSION.pretzel->getSauce() }}</h3>
            <h3 id="summBitesAmnt">Amount of Bites: {{ @SESSION.pretzel->getAmount() }}</h3>
        </check>

    </div>
    <h2 id="TotalPrice">Price: $1000</h2>

    <include href="views/includes/footer.html"/>
</body>

</html>