<!doctype html>
<html lang="en">
<head>
    <include href="views/includes/head_links.html" />

    <title>User Profile</title>
</head>
<body>
<include href="views/includes/mainNavBar.html"/>

<div class="container h-100 vh-90 shadow bg-light">

    <div>
        <check if="{{ $fullDetails == true && !empty(@result) }}">
            <h1 class="text-center">Welcome back, {{ @getName }}!</h1>
        </check>
        <check if="{{ $fullDetails == false }}">
            <h1 class="text-center">Here is your Order! #{{ @searchID }}</h1>
        </check>
        <check if="{{ empty(@result) }}"><h1 class="text-center p-5">Sorry, no data exists!</h1></check>

        <div id="userInfo_div">

            <check if="{{ !empty(@result) }}">
                <div class="row">
                    <check if="{{ $fullDetails == true }}">
                        <h2>User Information:</h2>
                        <div class="col">
                            <p>
                                <span>Customer ID:</span>
                                <span>#{{ @getID }}</span>
                            </p>
                            <p>
                                <span>Name:</span>
                                <span>{{ @getName }}</span>
                            </p>
                            <p>
                                <span>Address:</span>
                                <span>{{ @getAddress }}</span>
                            </p>
                        </div>
                    </check>

                    <div class="col">
                        <p>
                            <span>Your Orders:</span><br>
                            <span>
                                <table id="tblOrders" class="table">
                                    <thead>
                                    <tr>
                                        <td>Order ID</td><td>Whole Wheat</td>
                                        <td>Type</td><td>Toppings</td>
                                        <td>Stuffing</td><td>Sauce</td>
                                        <td>Amount</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <repeat group="{{ @result }}" value="{{ @order }}">
                                        <tr>
                                            <td>{{ @order['order_id']}}</td>
                                            <td>{{ @order['is_whole_wheat']}}</td>
                                            <td>{{ @order['pretzel_type']}}</td>
                                            <td>{{ @order['toppings']}}</td>
                                            <td>{{ @order['stuffing']}}</td>
                                            <td>{{ @order['dipping_sauce']}}</td>
                                            <td>{{ @order['bites_amount']}}</td>
                                        </tr>
                                    </repeat>
                                    </tbody>
                                </table>
                            </span>
                        </p>
                    </div>
                </div>
            </check>
        </div>
    </div>
</div>
<include href="views/includes/footer.html"/>
</body>

</html>