<!doctype html>
<html lang="en">
<head>
    <include href="views/includes/head_links.html" />

    <title>User Profile</title>
</head>
<body>
<include href="views/includes/mainNavBar.html"/>

<div class="container">
    <div>
        <h1 class="text-center">Welcome back, John!</h1>
        <div id="userInfo_div">
            <h2>User Information:</h2>

            <div class="row">
                <div class="col">
                    <p>
                        <span>Customer ID:</span>
                        <span>#000 000</span>
                    </p>
                    <p>
                        <span>Name:</span>
                        <span>John Doe</span>
                    </p>
                    <p>
                        <span>Address:</span>
                        <span></span>
                    </p>
                </div>

                <div class="col">
                    <p>
                        <span>Past Order:</span><br>
                        <span>You do not have any orders yet.</span>
                    </p>

                    <p>
                        <span>Current Order:</span><br>
                        <span>
                            <table id="tblOrders" class="table">
                                <thead>
                                <tr>
                                    <td>Order ID</td><td>Whole Wheat</td><td>Type</td><td>Toppings</td><td>Stuffing</td><td>Sauce</td><td>Amount</td>
                                </tr>
                                </thead>
                                <tbody>
                                <repeat group="{{ @result }}" value="{{ @order }}">
                                    <tr>
                                        <td>{{ @order['order_id']}}</td>
                                        <td>{{ @order['is_whole_wheat']}}</td>
                                        <td>{{ @order['pretzel_type']}}</td>
                                        <td>{{ @order['toppings']}}</td>
                                        <td>{{ @order['stuffing']}}</td>
                                        <td>{{ @order['sauce']}}</td>
                                        <td>{{ @order['amount']}}</td>
                                    </tr>
                                </repeat>
                                </tbody>
                            </table>
                        </span>
                    </p>
                </div>
            </div>


        </div>












    </div>
</div>
<include href="views/includes/footer.html"/>
</body>

</html>