/*
    Styles for orderPage.html
*/

#orderSummary_div{
    min-height: 450px;
}

.vh-83 {
    height: 83vh;
}

.vh-88 {
    height: 88vh;
}
.vh-90 {
    min-height: 90vh;
}

.row.no-pad {
    margin-right:0;
    margin-left:0;
}

#pretzelType label{
    font-size: x-large;
}

#pretzelType input{
    max-width: 33%;
}
.zoom {
    transition: transform .5s; /* Animation */
}

.zoom:hover {
    transform: scale(1.1); /*(150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}