.err{
    color: darkred;
}
/*
#mainPage {
    align-content: center;
    text-align: center;
}
*/

/*
#mainPage #mainNav {
    background-color: darkgray;
    width: 100%;
}
*/
#mainNav li {
    float: left;
    list-style-type: none;
    margin: 10px;
    font-weight: bold;
}
/*
#mainPage #squishPage {
    width: 80%;
    background-color: white;
}
*/
#mainPage strong {
    font-style: italic;
}
/*
#mainPage img {
    border: 1px solid black;
    border-radius: 10px;
}
*/
.quotes {
    border: 1px solid lightgray;
}

.quotes li {
    list-style-type: none;
}

#mainPage #startOrder {
    margin-top: 1%;
    margin-bottom: 1%;
}

#bites_div, #stuffed_div {
    display: none;
}

.sticky-right {
    position: static;
    min-height: max-content;

}

.vh-83 {
    height: 83vh;
}

.vh-88 {
    height: 88vh;
}
.vh-90 {
    min-height: 90vh;
}
